@import "config";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}
html {
  font-size: 1rem;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background: url('/image/bg.png') no-repeat center #94a1b0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
}

[tabindex="-1"]:focus {
  outline: none !important;
}
