html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

html,
body {
  height: 100%;
  margin: 0;
  width: 100%; }

html {
  font-size: 1rem;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  background: url("/image/bg.png") no-repeat center #94a1b0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1; }

[tabindex="-1"]:focus {
  outline: none !important; }

@charset "UTF-8";
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
  width: 100%; }

.wrpaper {
  margin: auto; }

.settings {
  width: 320px;
  background: #f4f4f4;
  border-radius: 7px; }

/*Стили title*/
.title {
  background: #d2d2d2;
  background-image: -ms-linear-gradient(90deg, #b0b0b0 0%, #d6d6d6 100%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.16);
          box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 7px 7px 0 0; }

.title__shevron {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 10px;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#c1c1c1), to(#f6f6f6));
  background: linear-gradient(to top, #c1c1c1, #f6f6f6);
  border-radius: 50%;
  background-image: -ms-linear-gradient(90deg, #c1c1c1 0%, #f6f6f6 100%);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.6);
  border: 1px silver solid; }

.title__shevron-arrow {
  display: block;
  position: absolute;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  left: 6.5px;
  top: 5.5px; }

.title__shevron-close {
  display: block;
  position: absolute;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  left: 5.2px;
  top: 6.5px; }

.title_nameblock {
  font-size: 15px;
  font-family: "Bookman Eurasian";
  color: #535252;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  margin: 0;
  text-align: center;
  padding: 15px 0; }

/*End Стили title*/
/*Стили groupedview*/
.groupedview {
  background-image: -ms-linear-gradient(90deg, #e4e4e4 0%, #fdfdfd 100%);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0 0 7px 7px; }

.groupedviewTitle {
  border-bottom: 1px solid #d4d4d4;
  background-image: -ms-linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.3); }

.groupedviewTitle__text {
  text-align: center;
  font-size: 11px;
  font-family: "HelveticaNeueLTPro";
  color: #7d7d7d;
  text-transform: uppercase;
  margin: auto;
  padding: 6px 0; }

.groupedviewItem, .groupedviewItem-last {
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.groupedviewItem-last {
  border-bottom: none; }

.groupedviewItem__icon {
  padding: 10px 0 0 10px;
  text-align: left;
  width: 42px;
  margin-right: 10px; }

.groupedviewItem__icon-location {
  padding-left: 14px; }

.groupedviewItemText {
  text-align: left;
  padding: 10px 10px;
  min-width: 200px;
  font-family: "HelveticaNeue";
  line-height: 1.231;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.004); }

.groupedviewItemText__top, .groupedviewItemText__top-center {
  font-size: 13px;
  font-weight: bold;
  color: #424242;
  margin: auto; }

.groupedviewItemText__top-center {
  padding: 7px 0; }

.groupedviewItemText__bottom {
  font-size: 11px;
  color: #8a8a8a;
  margin: auto; }

.groupedviewItemToggle {
  margin: auto; }

/*Стилизация чекбокса*/
/*стили для IE8 и более старых версий*/
.groupedviewItemToggle_checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px; }

/*End стили для IE8 и более старых версий*/
/*Спрятали реальный чекбокс*/
.groupedviewItemToggle_checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.groupedviewItemToggle_checkbox-custom {
  cursor: pointer; }

/*Позиционирование*/
.groupedviewItemToggle_checkbox:not(checked) + .groupedviewItemToggle_checkbox-custom {
  position: relative;
  padding: 0 0 0 50px; }

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.groupedviewItemToggle_checkbox:not(checked) + .groupedviewItemToggle_checkbox-custom:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }

.groupedviewItemToggle_checkbox:not(checked) + .groupedviewItemToggle_checkbox-custom:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s;
  transition: all .2s;
  /* анимация, чтобы чекбокс переключался плавно */ }

/* Меняем фон чекбокса, когда он включен. */
.groupedviewItemToggle_checkbox:checked + .groupedviewItemToggle_checkbox-custom:before {
  background: #4b8cdd;
  /* Для старых браузров */
  background: -webkit-gradient(linear, left bottom, left top, from(#66a6eb), to(#3a7dd4));
  background: linear-gradient(to top, #66a6eb, #3a7dd4);
  background-image: -ms-linear-gradient(90deg, #66a6eb 0%, #3a7dd4 100%);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 3px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 3px 4px 0 rgba(0, 0, 0, 0.12); }

/* Сдвигаем переключатель чекбокса, когда он включен. */
.groupedviewItemToggle_checkbox:checked + .groupedviewItemToggle_checkbox-custom:after {
  left: 26px; }

/* Показываем получение фокуса. */
.groupedviewItemToggle_arrow {
  width: 10px;
  height: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 30px;
  cursor: pointer; }

/*End Стилизация чекбокса*/
/*End Стили groupedview*/
